@import "./../../../common/styles/sass/variables.scss";

.skillsContainer {
  border: $border;
  background-color: rgb(238, 168, 111);
  min-height: 100vh;
  width: 100%;
  .skillsWrap {
    .skills {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
