@import "./../../../common/styles/sass/variables.scss";

.portfolioContainer {
  border: $border;
  background-color: rgb(228, 135, 228);
  min-height: 100vh;
  width: 100%;
 .projects {
   display: flex;
   flex-wrap: wrap;
 }
}
