$textColor: #fff;
$primaryColor: #f9004d;
$bgColor: #101010;
$bgSecColor: #191919;
$josefineFontFamily: "Josefin Sans", sans-serif;
$poppinsFontFamily: "Poppins", sans-serif;

//временное значение
//$border: 1px solid rgba(255, 255, 255, 0.459);
